<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Final_RecipeLab_Team16.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7DFC994B2EC8CFA90083586A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DFC99612EC8CFA90083586A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DFC996B2EC8CFA90083586A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
